JNIGPUMatrix/target
Interface/target
gitdataminer/target
Dominoes/.classpath
.metadata
.recommenders
RemoteSystemsTempFiles
JNIGPUMatrix/kernel.o
JNIGPUMatrix/libMatrixProcessor.o
JNIGPUMatrix/resources/
JNIGPUMatrix/jar/
*.dylib
*.so
*.o
*.so.*
*.log
*.class
*.sqlite
*.jar
*~