JNIGPUMatrix/target/
JNIGPUMatrix/.settgings/

Dominoes/target/
Dominoes/.settgings/

DominoesLib/target/
DominoesLib/.settgings/

gitdataminer/target/
gitdataminer/.settgings/

.classpath
.project

.metadata
.recommenders
JNIGPUMatrix/kernel.o
JNIGPUMatrix/libMatrixProcessor.o
JNIGPUMatrix/resources/
JNIGPUMatrix/jar/
*.dylib
*.so
*.o
*.so.*
*.log
*.class
*.sqlite
*.jar
*~