jni-jpu-matrix/target/
jni-jpu-matrix/.settings/

prov-dominoes/target/
prov-dominoes/.settings/

dominoes-lib/target/
dominoes-lib/.settings/

gitdataminer/target/
gitdataminer/.settings/

.classpath
.project
configuration.properties

.metadata
.recommenders
jni-jpu-matrix/kernel.o
jni-jpu-matrix/libMatrixProcessor.o
jni-jpu-matrix/resources/
jni-jpu-matrix/jar/
*.dylib
*.so
*.o
*.so.*
*.log
*.class
*.sqlite
*.jar
*~
